/* #logo{} */

body{
    background-color: #ebeff5;
}

#total-orders{
    background-color: #4cb4c7;
}

#orders-pending{
    background-color: #7cd1c0;
}

#out-of-delivery{
    background-color: #31cf93;
}

#orders-delivered{
    background-color: #7abecc;
}